* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.header {
  grid-area: 1/1/4/13;
  display: flex;
  flex-direction: row;
  background-color: black;
}

.header > div {
  width: 50%;
  height: 100%;
}

.name {
  
}

.links {

}

.body {
  grid-area: 4/1/11/13;
  display: flex;
  flex-direction: row;
}

.body > div {
  width: 50%;
  height: 100%;
}

.card {

}

.text {

}

.footer {
  grid-area: 11/1/13/13;
  display: flex;
  flex-direction: row;
  background-color: salmon;
}

.footer > div {
  width: 50%;
  height: 100%;
}

.cv {

}

.footer-text {
  
}

.profiles {

}
