* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #182848;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background: #4b6cb7;
  background: -webkit-linear-gradient(to bottom, #182848, #4b6cb7);
  background: linear-gradient(to bottom, #182848, #4b6cb7);
}





.header {
  grid-area: 1/1/4/13;
  display: flex;
  flex-direction: row;
}

.header > div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name > h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 300%;
  font-weight: 500;
  word-spacing: 1vw;
  letter-spacing: 0.15vw;
  z-index: 1;
}

.name::before {
  content: '';
  position: absolute;
  width: 40vw;
  border: 2px solid #171515;
  z-index: 0;
}

.links {

}

.links > button {
  text-transform: uppercase;
  font-size: 90%;
  margin: 1vw;
  padding: 0.5vw 1.5vw;
  border-radius: 10vw;
  background-color: #182848;
  color: #fff;
  border: 1px solid #4b6cb7;
  box-shadow: 0 0 15px 10px #182848;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

@keyframes buttons {
  100% {
    background-color: #171515;
  }
}

.links > button:hover {
  cursor: pointer;
  font-weight: 600;
  animation: buttons 250ms ease-in forwards;
}





.body {
  grid-area: 4/1/11/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}





.card {
  grid-area: 2/2/12/6;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  border: 1px solid #4b6cb7;
  border-radius: 5%;
  box-shadow: 5px 5px 25px 15px #182848;
  overflow: hidden;
}

.card:hover {

}

.pic {
  grid-area: 2/2/5/5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #4b6cb7;
  border-radius: 10px;
}

.pic > img {
  min-width: 100%;
  min-height: 100%;
}

.info {
  grid-area: 2/5/5/12;
  display: flex;
  flex-direction: row;
}

.info > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overview {
  grid-area: 6/2/10/12;
  font-family: sans-serif;
}

.overview::before {
  content: '';
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 18px;
  border: 0.1px solid #182848;
  opacity: 0.3;
  box-shadow: 0 0 30px 1px #182848;
}

.overview > h4 {
  text-transform: capitalize;
  font-weight: 600;
  color: #eee;
  margin-bottom: 10px;
}

.overview > p {
  color: #c2c2c2;
  font-size: 90%;
  font-family: Arial;
  line-height: 20px;
}

.icons {
  width: 25%;
  height: 100%;
  gap: 15%;
}

.github-icon > a > svg, .linkedin-icon > a > svg {
  margin-left: 10px;
  font-size: 175%;
  color: #182848;
}

.github-icon, .linkedin-icon {
  
}

.github-icon {

}

.github-icon > a > svg:hover, .github-icon{
  color: #171515;
}

.linkedin-icon {

}

.linkedin-icon > a > svg:hover, .linkedin-icon {
  color: #0e76a8;
}

.info-text {
  width: 75%;
  height: 100%;
}

.info-text > h3 {
  text-transform: uppercase;
  color: #182848;
  font-size: 85%;
  
}

.cv {
  grid-area: 11/1/13/13;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: #4b6cb7;
  border-top: 1px solid #4b6cb7;
}

.cv:hover {
  cursor: pointer;
  animation: buttons 250ms ease-in forwards;
}

.cv > svg {
  font-size: 150%;
}

.cv > p {
  width: auto;
  height: auto;
  border: none;
  background-color: inherit;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin-left: 10px;
}





.text {
  grid-area: 1/8/13/12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}

.text > div > h2 {
  color: #fff;
  font-size: 150%;
}

.text > div > p {
  color: #c7c7c7;
  font-size: 110%;
}

.text::before {
  content: '';
  position: absolute;
  left: 51%;
  height: 50%;
  border: 0.1px solid #182848;
  opacity: 0.3;
  box-shadow: 0 0 30px 1px #182848;
}





.footer {
  grid-area: 12/1/13/13;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171515;
  border-top: 3px solid #182848;
}

.footer > p {
  color: rgb(174, 174, 174);
  text-transform: uppercase;
  font-size: 80%;
}





.projects {
  grid-area: 1/1/13/13;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 100px;
  gap: 25px;
  overflow-x: scroll;
}

.project-card {
  min-width: 250px;
  height: 50vh;
  border-radius: 25px;
  border: 1px solid #4b6cb7;
  box-shadow: 0 0 25px 15px #182848;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  overflow: hidden;
}

.project-card:hover {
  transition: all 250ms ease-in-out;
  transform: scale(1.05);
}

.project-card > div, .project-card > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img {
  grid-area: 1/1/7/13;
}

.project-img > img {
  min-width: 100%;
  min-height: 100%;
}

.project-title {
  grid-area: 7/1/8/13;
  background-color: #4b6cb7;
}

.project-title > h3 {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 90%;
  color: #fff;
}

.project-links {
  grid-area: 8/2/13/12;
  gap: 25px;
}

.project-github, .project-site {
  border-radius: 10px;
  background-color: #4b6cb7;
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-github:hover, .project-site:hover {
  border: 1px solid #182848;
}

.project-github > svg, .project-site > svg {
  font-size: 200%;
  color: #171515;
}





.experience {
  grid-area: 1/2/13/12;
  border: 1px solid black;
}
